$maxWidth: 1280px;
$linearColor: linear-gradient(to right, #2ad763, #26b7d2);
$linearActiveColor: linear-gradient(to right, #88e3a6, #79d1dd);
$hoverColor: #57b593;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    z-index: 1;
    .wrapper {
      @media screen and (max-width: 768px) {
        justify-content: space-between;
      }
    }
    .logo {
      padding: 1.5rem 0;
    }
    nav {
      display: flex;
      justify-content: center;
      flex: 1;
      @media screen and (max-width: 768px) {
        position: absolute;
        top: 90px;
        right: -50%;
        transform: translateX(50%);
        background: #fff;
        width: 90%;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 60px 140px 0px #444;
        transition: all 0.5s ease-in-out;
        &.active {
          right: 50%;
        }
      }
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (max-width: 768px) {
          width: 100%;
          flex-direction: column;
        }
        li {
          @media screen and (max-width: 768px) {
            width: 100%;
            &:first-child {
              a {
                padding-top: 2rem;
              }
            }
            &:last-child {
              a {
                padding-bottom: 2rem;
              }
            }
          }
          a {
            position: relative;
            display: inline-block;
            padding: 1.75rem 0.75rem;
            color: #555;
            font-weight: 300;
            text-decoration: none;
            @media screen and (max-width: 768px) {
              width: 100%;
              padding: 1rem;
              color: #000;
              font-size: 1.1rem;
              font-weight: 400;
            }
            @media screen and (min-width: 769px) {
              &:hover {
                color: #000;
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  left: 50%;
                  bottom: 0;
                  transform: translateX(-50%);
                  width: 70%;
                  height: 3px;
                  background: $linearColor;
                }
              }
            }
          }
        }
      }
    }
    .request {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .burger {
      cursor: pointer;
      &.active {
        .line1 {
          transform: rotate(45deg) translate(5px, 6px);
        }
        .line2 {
          opacity: 0;
        }
        .line3 {
          transform: rotate(-45deg) translate(5px, -7px);
        }
      }
      div {
        width: 25px;
        height: 3px;
        margin: 5px;
        background: #000;
        opacity: 1;
        transform: rotate(0) translate(0, 0);
        transition: all 0.3s ease-in-out;
      }
      @media screen and (min-width: 769px) {
        display: none;
      }
    }
  }
  .intro {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('../images/bg-intro-desktop.svg') #fafafa no-repeat;
    background-position: 200% 0;
    background-size: 80%;
    background-attachment: fixed;
    @media screen and (max-width: 600px) {
      background-position: 0 -30px;
      background-size: 100%;
      background-attachment: initial;
    }
    &__content {
      padding: 4rem 5rem 4rem 0;
      width: 50%;
      @media screen and (max-width: 768px) {
        padding-right: 1rem;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        order: 2;
        text-align: center;
      }
      h1 {
        font-size: 3rem;
        font-weight: 300;
        @media screen and (max-width: 1024px) {
          font-size: 2rem;
        }
      }
      p {
        margin-bottom: 2.2rem;
        font-weight: 300;
        line-height: 1.6;
        @media screen and (max-width: 1024px) {
          margin-bottom: 1.5rem;
        }
      }
    }
    &__image {
      @media screen and (max-width: 1440px) {
        flex: 1;
      }
      @media screen and (max-width: 600px) {
        order: 1;
      }
      img {
        position: relative;
        margin: -7rem -4rem -7rem 0;
        @media screen and (max-width: 1440px) {
          max-width: 100%;
        }
        @media screen and (max-width: 600px) {
          margin: -9rem 0 -3rem 0;
        }
      }
    }
    .wrapper {
      @media screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
      }
    }
  }
  .why {
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f4f5f7;
    .wrapper {
      flex-direction: column;
      @media screen and (max-width: 600px) {
        text-align: center;
      }
      h2 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: 300;
      }
      p {
        width: 100%;
        font-weight: 300;
        line-height: 1.6;
      }
      .features {
        width: 100%;
        display: flex;
        margin-top: 2.2rem;
        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
        }
        div {
          padding: 0 1.5rem 0 0;
          @media screen and (max-width: 768px) {
            margin-bottom: 1rem;
            flex: none;
            width: 50%;
          }
          @media screen and (max-width: 539px) {
            padding-right: 0;
            flex: none;
            width: 100%;
          }
          h3 {
            font-weight: 400;
            font-size: 1.3rem;
          }
          p {
            font-weight: 300;
          }
        }
      }
    }
  }
  .latest {
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fafafa;
    .wrapper {
      display: block;
      h2 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: 300;
        @media screen and (max-width: 600px) {
          text-align: center;
        }
      }
      .latest__articles {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
        }
        .article {
          background: #fff;
          display: flex;
          flex-direction: column;
          margin-right: 1rem;
          @media screen and (max-width: 768px) {
            width: 45%;
            margin-bottom: 1rem;
          }
          @media screen and (max-width: 539px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1rem;
          }
          .article-image {
            img {
              width: 100%;
            }
          }
          .article-info {
            padding: 1.2rem 1.5rem;
            small {
              font-size: 0.65rem;
            }
            h4 {
              margin: 0.5rem 0 1rem;
              font-size: 1.1rem;
              font-weight: 400;
              a {
                color: #000;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                  color: $hoverColor;
                }
              }
            }
            p {
              margin: 0;
              font-size: 0.8rem;
              line-height: 1.3;
            }
          }
        }
        .article:nth-child(4) {
          margin-right: 0;
        }
      }
    }
  }
  .site-footer {
    padding: 2rem 0;
    background: #2d314e;
    display: flex;
    justify-content: center;
    .wrapper {
      align-items: center;
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }
    .site-footer__social {
      flex: 1;
      .site-footer__social__logo {
        margin-bottom: 2rem;
        text-align: left;
        @media screen and (max-width: 600px) {
          text-align: center;
        }
      }
      .site-footer__social__icons {
        ul {
          display: flex;
          margin: 0;
          padding: 0;
          list-style: none;
          @media screen and (max-width: 600px) {
            justify-content: center;
          }
          li {
            margin: 0 0.3rem;
            @media screen and (max-width: 1024px) {
              justify-content: center;
            }
          }
        }
      }
    }
    .site-footer__menu {
      display: flex;
      flex: 1;
      @media screen and (max-width: 1024px) {
        flex: 1;
        text-align: center;
      }
      @media screen and (max-width: 600px) {
        margin-top: 2rem;
        flex-direction: column;
      }
      div {
        flex: 1;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin-bottom: 0.5rem;
            @media screen and (max-width: 600px) {
              margin-bottom: 1rem;
            }
            a {
              color: #fff;
              font-size: 0.8rem;
              font-weight: 300;
              text-decoration: none;
              transition: all 0.3s ease;
              &:hover {
                color: $hoverColor;
              }
            }
          }
        }
      }
    }
    .site-footer__request {
      text-align: right;
      flex: 2;
      @media screen and (max-width: 1024px) {
        flex: 1;
        padding-left: 0.5rem;
      }
      @media screen and (max-width: 600px) {
        margin-top: 1rem;
        text-align: center;
      }
      .copyright {
        margin-top: 1.5rem;
        color: #aaa;
        font-size: 0.8rem;
      }
    }
  }
  .wrapper {
    width: 100%;
    max-width: $maxWidth;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
      padding: 0 1.5rem;
    }
  }
  .btn-request {
    display: inline-block;
    padding: 0.65rem 1.3rem;
    background: green;
    background: $linearColor;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 30px;
    &:hover {
      background: $linearActiveColor;
    }
  }
}
